<d1>
  <dt>{{ singleList.title }}</dt>
  <dd>{{ singleList.description }}</dd>
  <dd>Created by: {{ singleList.creator }}</dd>
  <hr>
</d1>

<ul class="disc">
  <li  class="list-item" ng-repeat="items in matchListItems">{{ items.name }} <span class="edit-btns"><a href="#/edit/{{ items.objectId }}"><i class="fa fa-pencil"></i></a>   <i class="fa fa-times"></i></span></li>
</ul>

<hr> 

<form ng-submit="addListItems(item)">
  <input placeholder="Add List Item" ng-model="item.name">
  <button class="button small info">Add List Items</button>
</form>