<d1 class="list-header">
  <img class="list-img" ng-src="{{singleList.picture}}">
  <dd >by {{ singleList.creator }}</dd>
  <hr>
  <dt>{{ singleList.title }}</dt>
  <dd class="description">{{ singleList.description }}</dd>
  <span class="edit-btns-l"><a href="#/editlist/{{singleList.objectId}}"> <i class="fa fa-pencil"></i></a></span>
  <hr>
</d1>

<ul class="disc">
  <li  class="list-item" ng-repeat="items in matchListItems">{{ items.name }} <span class="edit-btns"><a href="#/edit/{{ items.objectId }}"><i class="fa fa-pencil"></i></a>   <a href="#" ng-click="delete(items)"><i class="fa fa-times"></i></a></span></li>
</ul>

<hr> 

<form ng-submit="addListItems(item)">
  <input placeholder="Add List Item" ng-model="item.name">
  <button class="button small info">Add List Items</button>
</form>